/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: white;
    background-color: #1665A0;
}

/* heading styles */

h1, h2{
    font-family: 'Share Tech', sans-serif;
}

h1{
    font-size: 60px;
}

h2{
    color: #E1F9FF;
    font-family: 'Share Tech', sans-serif;
    margin: 40px 0 10px;
    font-size: 30px;
}

/* header styles */

header{
    background-color: #1665A0;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid #E1F9FF;
}

/* main styles */

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}

p{
    font-size: 20px;
}

/* anchor styles */

a{
    color: #E1F9FF;
}

a:hover{
    color: #FF7F61;
}

footer{
    background-color: #1665A0;
    text-align: center;
    padding: 40px;
}

span.caption{
    color: #cfcece;
    font-style: italic;
    margin-top: 0;
    font-size: 17px;
}

ul{
    list-style: none;
    text-align: center;
    display: flex;
    gap: 20px 20px;
}